---
// Header component for the board game market
---

<header class="header">
  <h1>An Early Spring Cleaning</h1>
  <p class="header__subtitle">2026 edition</p>
  <p class="header__tagline">For there can only be 1(00).</p>
  <p class="header__description">
    Turns out you can't actually play 100 board games at once. <em>Who knew?</em><br/>
    These excellent games have started seeing more shelf time than table time,<br/>
    so we're passing the dice to someone who'll give them the respect they deserve.
  </p>
</header>
